Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,

  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -llvm-prefer-static-over-anonymous-namespace,
  -cppcoreguidelines-pro-type-vararg,
  -misc-include-cleaner,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-identifier-length,

CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true

WarningsAsErrors: "*"

ExcludeHeaderFilterRegex: "^.*/(extern|config|build)/.*$"

FormatStyle: "file"