[submodule "FreeRTOS-Kernel"]
	path = extern/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "extern/u8g2"]
	path = extern/u8g2
	url = https://github.com/olikraus/u8g2.git
